/*.cont{
	margin-left:50px;
	margin-right:50px;
}
.top {
	background-image: url("images/greenMountain.png");
	background-size: cover;
    background-position: center center;
	background-repeat: no-repeat;
    background-attachment:fixed;
    height:800px;
}

.banner{
	text-align:center;
	font-size:100px;
	text-align: center;
	font-family: 'Faster One', cursive;
	color:red;

}
.black{
	color:black;
}
.player1{
	border-top:10px solid grey;
	border-bottom: 5px dashed white;

}
td{
	background-color:rgb(192,192,192);
	height:80px;*/
}

/*-------------*/

body {
  font-family: 'Helvetica', sans-serif;
}

h1 {
  text-align: center;
}

.description {
  height: 80px;
  width: 500px;
  margin: 0 auto;
}

.racer_table {
  width: 1400px;
  margin: 0 auto;
  border: solid 3px;
}
.racer_table td {
  background-color: white;
  height: 90px;
  width: 64px;
  text-align: center;
}

.racer_table td.active {
  background-color: green;
}